section.App {
    margin: 50px;
    padding: 25px;
    background-color: #FFF;
}
section.App .btn {
    border-radius: 0 !important;
}

section.App form.form input.form-control {
    margin-left: 43px;
}
@media (max-width: 576px) {
    section.App form.form input.form-control {
        margin-left: 0;
    }
    section.App .btn {
        margin-top: 10px
    }
}



section.App form.form p {
    text-align: right
}


section.App h2 {
    margin: 25px auto;
    background-color: #d9534f;
    padding: 10px;
    color: #FFF; 
}
.details , .botton-one , .botton-two {
    margin: 15px 0
}

.details span {
    display: block;
    background-color: #EEE;
    text-align: left;
    padding: 6px 10px;

}
.botton-one button {
    background-color: #6a6a6a;
    color: #FFF;
    padding: 6px 10px;
    border-color: #6a6a6a;
}
.botton-two button {
    background-color: #d9534f;
    color: #FFF;
    border-color: #d9534f;
    padding: 6px 10px;
}


.updated-form {
    margin: 11px 0
}
.updated-form input{
    margin: 15px 0;
    background-color: #EEE;
    width: 80%
}
.updated-form button {
    width: 19;
    margin-right: 1%;

}